package ${clazz.type.packageName};

#foreach($import in $imports)
import $import;    
#end

public class ${clazz.type.asStringWithBounds()} {
#foreach($field in $clazz.fields)
    private ${field.type.asString()} ${field.name};
#end

#foreach($field in $clazz.fields)
    public ${field.type.asString()} get${StringUtils.capitalizeFirstLetter(${field.name})}() {
        return ${field.name};
    }

    public void set${StringUtils.capitalizeFirstLetter(${field.name})}(${field.type.asString()} ${field.name}) {
        this.${field.name} = ${field.name};
    }
#end

#foreach($innerClazz in $clazz.innerClazzes)
    public static class ${innerClazz.type.asStringWithBounds()} {
#foreach($field in $innerClazz.fields)
        private ${field.type.asString()} ${field.name};
#end
        
#foreach($field in $innerClazz.fields)
        public ${field.type.asString()} get${StringUtils.capitalizeFirstLetter(${field.name})}() {
            return ${field.name};
        }
        
        public void set${StringUtils.capitalizeFirstLetter(${field.name})}(${field.type.asString()} ${field.name}) {
            this.${field.name} = ${field.name};
        }
#end
    }
    
#end
}